{% extends 'AP/main.html' %}

{% block content %}
    <div class="row">
    <div class="col-sm-3"></div>
    <form class="col-sm-6 post-form text-center" method="POST">
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="nadpis">Register</h2>
                {% csrf_token %}
                <br>
                    <input id="jmeno" type="text" class="form-control" name="username"
                    placeholder="Username">
                <br>
                    <input id="heslo" type="password" class="form-control" name="password1"
                    placeholder="Password">
                <br>
                    <input id="heslo_2" type="password" class="form-control" name="password2"
                    placeholder="Password">
                <br><br>
                <button type="submit" class="save btn btn-outline-primary">Sign up</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}